:host {
    text-align: right;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

p {
    margin: 0;
    height: min-content;

    &.expression {
        font-size: 2rem;
    }

    &.preview {
        color: var(--mdc-list-list-item-supporting-text-color, var(--mat-sys-on-surface-variant));
    }
}